<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

<a href="{{ path('calcul_somme',{'a': 300 ,'b':500})}}">Somme</a>

<a href="{{ path('calcul_soustraction',{'a': 500 ,'b':333})}}">Soustraction</a>

</body>
</html>