<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcul de la difference</title>
</head>
<body>
<h1>Calcul de la difference</h1>
<p>La somme de {{ a }} - {{ b }} = {{ soustraction }}</p>


</body>
</html>
