<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

<a href="{{ path('blog') }}">Présentation de site</a>
<a href="{{ path('blog_articles_lister') }}">Liste des articles</a>
<a href="{{ path('blog_articles_detail',{'id': 3 ,'name':'Symfony'})}}">Detail de l'article</a>

</body>
</html>