<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Detail de l'article id:{{id}} </h1>


<div>Lorem ipsum dolor sit amet, 
consectetur adipisicing elit. Natus deleniti esse mollitia ipsam nisi corrupti, 
recusandae voluptas cumque fugiat officiis. Ullam accusamus cupiditate quia, 
dolorum omnis corporis architecto quos similique!

</div>
    
</body>
</html>